<%- include('includes/head') %>
<%- include('includes/nav') %>


  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Ola <%=user.email%></h1>
      <p class="text-center lead">Voce esta logado, Clique acima em "Agenda" para ver seus contatos</p>
      <%- include('includes/messages'); %>

  

      </div>

    </div>

    <div class="col-lg-2"></div>
  </div>

<%- include('includes/footer') %>
